# Core
pandas>=2.0
numpy>=1.24
polars>=0.20
pyarrow>=14.0

# Big-data processing
pyspark>=3.5

# Data quality
great_expectations>=0.18

# Orchestration
apache-airflow>=2.8

# Versioning
dvc>=3.40

# Dev / notebooks
jupyter>=1.0

# Simulated API + misc
faker>=22.0
requests>=2.31
flask>=3.0

# Visualization
matplotlib>=3.8
plotly>=5.18
